body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 50px; /* Adjust as needed */
    padding-bottom: 50px; /* Add padding to the bottom */
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.loaded {
     opacity: 1;
}

container {
    padding: 20px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    /* Mobile styles */
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.experience-list {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a.clicked {
    font-weight: bold;
}

/* Styles for the experience section */
.experience-list a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.experience-list a.active,
.experience-list a.clicked {
    font-weight: bold;
}

/* Override Bootstrap default styles for anchor links inside the specific ul */
.col-md-4 ul li a:hover,
.col-md-4 ul li a:focus,
.col-md-4 ul li a:active {
    color: inherit;
    text-decoration: none;
}

/* Show LinkedIn and GitHub icons on mobile */
@media (max-width: 575.98px) {
    .navbar-nav.ml-auto {
        display: flex !important;
        align-items: center;
    }

    .navbar-nav.ml-auto li {
        margin-right: 10px; /* Adjust as needed */
    }

    /* Ensure LinkedIn and GitHub icons are visible on mobile */
    .navbar-nav.ml-auto li.nav-item {
        display: flex !important;
    }

    .navbar-collapse {
        display: none !important;
    }

    .navbar-toggler[aria-expanded="true"] + .navbar-collapse {
        display: block !important;
    }
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.img-fluid:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

p {
    text-align: justify;
    text-justify: justify;
}

.card-text, .card-subtitle, .experience-content li, .about-content li, .experience-date {
    font-size: 14px;
}

#cardContainer a:hover {
    color: inherit; /* or any other desired text color */
}