body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 50px; /* Adjust as needed */
    padding-bottom: 50px; /* Add padding to the bottom */
    margin-left: auto;
    margin-right: auto;
    max-width: 960px; /* Set a maximum width for the body */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container {
    padding: 20px; /* Adjust as needed */
}

@media (max-width: 767px) {
    /* Mobile styles */
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

p {
    text-align: justify;
    text-justify: justify;
}

/* Fade-in effect */
body.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
