body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 50px; /* Adjust as needed */
    padding-bottom: 50px; /* Add padding to the bottom */
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    /* Mobile styles */
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

p {
    text-align: justify;
    text-justify: justify;
}

/* Fade-in effect */
body.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}